@model IEnumerable<theprocurator.Data.Model.CharacterSheet>

@{
    ViewBag.Title = "Character Sheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Character Sheets</h2>

<p>
    @Html.ActionLink("Create a Character Sheet", "Create")
</p>
<table class="table">
    <tr>        
        <th>
            Name
        </th>
        <th>
            # Characters
        </th>
        <th>
            Theme
        </th>                
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CharacterSheetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Characters.Count)
        </td> 
        <td>
            @( @String.IsNullOrEmpty(item.CharacterSheetTheme) ? "default" : @item.CharacterSheetTheme )
        </td>                
        <td>
            <a href="@Url.Action("Create", "Characters", new { id = item.CharacterSheetId })" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-user"></span> Create Character</a>
            <a href="@Url.Action("Edit", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="@Url.Action("Print", "CharacterSheets", new { id = item.CharacterSheetId })" target="_blank" class="btn btn-info btn-xs preview"><span class="glyphicon glyphicon-print"></span> Print</a>               
            <a href="@Url.Action("Copy", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-copy"></span> Copy</a>
            <a href="@Url.Action("Delete", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
    </tr>
}

</table>
