@model IEnumerable<theprocurator.Data.Model.CharacterSheet>

@{
    ViewBag.Title = "Character Sheets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Character Sheets</h2>

<p>    
    <a href="@Url.Action("Create", "CharacterSheet", new { id = Guid.NewGuid() })" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create a Character Sheet</a>
</p>
<table class="table">
    <tr>
        <th>

        </th>        
        <th>
            Name
        </th>
        <th>
            Characters
        </th>
        <th>
            Published
        </th>
        <th>
            Theme
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Edit", "CharacterSheets", new { id = item.CharacterSheetId })">
                <img class="img-responsive img-thumbnail" alt="@item.CharacterSheetName" src="~/Content/CharacterSheet/Thumbnails/@(item.CharacterSheetId).png" />       
            </a>       
        </td>
        <td>
            <p>@Html.DisplayFor(modelItem => item.CharacterSheetName)</p>
            <p class="small">edited: @item.UpdatedOn</p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Characters.Count)
        </td> 
        <th>
            @Html.DisplayFor(modelItem => item.Published)
        </th>
        <td>
            @( @String.IsNullOrEmpty(item.CharacterSheetTheme) ? "default" : @item.CharacterSheetTheme )
        </td>                
        <td>
            <div class="btn-group-sm btn-group-vertical">
                <a href="@Url.Action("Create", "Characters", new { id = item.CharacterSheetId })" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Create Character</a>
                <a href="@Url.Action("Edit", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href="@Url.Action("Print", "CharacterSheets", new { id = item.CharacterSheetId, slug = item.CharacterSheetUrl })" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a href="@Url.Action("Copy", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-default"><span class="glyphicon glyphicon-copy"></span> Copy</a>
                <a href="@Url.Action("Delete", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </td>
    </tr>
}

</table>
