@model theprocurator.Data.Model.CharacterSheet

@{
    ViewBag.Title = Model.CharacterSheetName + " - Character Sheet";
    Layout = "~/Views/Shared/_Print.cshtml";
}

<div class="form-horizontal">
    <form id="meta-data">
        <div class="form-group">
            @Html.HiddenFor(model => model.CharacterSheetId)
            @Html.HiddenFor(model => model.CharacterSheetForm)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.CharacterSheetName)
            @Html.HiddenFor(model => model.CharacterSheetUrl)
            @Html.HiddenFor(model => model.CharacterSheetTheme)
         </div>
    </form>            
    @using (Html.BeginForm("CharacterSheets", "Create", FormMethod.Post, new { @class = "main-form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div class="build-form"></div>
    }    
  
    <div class="render-form"></div>  
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/formeo")
    @Scripts.Render("~/Scripts/tpn.charactersheet.js")
    @Scripts.Render("~/Scripts/html2canvas.js")
    @Scripts.Render("~/Content/theme/" + Model.CharacterSheetTheme + "/" + Model.CharacterSheetTheme + ".js")
    
    <script type="text/javascript">
        (function ($) {
            tpn_common.config.routeaction = "@ViewContext.RouteData.Values["action"]";
            tpn_charsheet.initFormeo('.build-form');            
        })(jQuery);
    </script>
}