@model IEnumerable<theprocurator.Data.Model.CharacterSheet>

@{
    ViewBag.Title = "Sheet Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h2 row">
    <div class="col-xs-12 col-md-3">Search Results</div>
    <div class="col-xs-12 col-md-9">
        <small>
            <em>
                published sheets @if (!string.IsNullOrEmpty(ViewBag.SearchText))
            {<span> matching</span> <strong>'@ViewBag.SearchText'</strong> }
            </em>
        </small>
    </div>
</div>
<p>    
    <a href="@Url.Action("Create", "CharacterSheet", new { id = Guid.NewGuid() })" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create a Character Sheet</a>
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="tpn-search-item">
                <div class="title">
                    <a href="@Url.Action("Edit", "CharacterSheets", new { id = item.CharacterSheetId })">
                        @item.CharacterSheetName
                    </a>
                </div>
                <div class="preview">
                    <a href="@Url.Action("Edit", "CharacterSheets", new { id = item.CharacterSheetId })">
                        <img class="img-responsive" alt="@item.CharacterSheetName" src="~/Content/CharacterSheet/Thumbnails/@(item.CharacterSheetId).png" />
                    </a>
                </div>
                <div class="details">
                    @if (item.ParentId != Guid.Empty) { <p class="small">this sheet is a copy of @item.ParentId</p>}
                    <p class="small">Last updated on @item.UpdatedOn</p>
                    <p class="small">Created by @Html.DisplayFor(modelItem => item.User.UserName.Split('@')[0])</p>
                </div>
                <hr/>
                <div class="btn-group-sm btn-group-sm">
                    <a href="@Url.Action("Print", "CharacterSheets", new { id = item.CharacterSheetId, slug = item.CharacterSheetUrl  })" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print Sheet</a>
                    <a href="@Url.Action("Copy", "CharacterSheets", new { id = item.CharacterSheetId })" class="btn btn-default @((item.User.UserName == User.Identity.Name) ? "disabled" : "")"><span class="glyphicon @((item.User.UserName == User.Identity.Name) ? "glyphicon-ok" : "glyphicon-plus")"></span> @((item.User.UserName == User.Identity.Name) ? "In Your Collection" : "Add to Collection")</a>
                </div>
            </div>
        </div>
    }
</div>
