<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P5B2HB');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online character sheet builder and character manager for table top games." />
    <meta name="keywords" content="character sheet,character manager,RPG,roleplaying games,tabletop games,character builder,character sheet builder" />

    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @RenderSection("theme", false)
    
    @Scripts.Render("~/bundles/modernizr")     
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5B2HB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a class="navbar-logo navbar-brand" href="/">
                    <img src="~/Content/images/tpn_header_logo_2.png"  alt="The Procurator" />
                </a>
                &nbsp;
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li>@Html.ActionLink("Character Sheets", "Index", "CharacterSheets")</li>
                    <li>@Html.ActionLink("Characters", "Index", "Characters")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <form class="navbar-form navbar-right navbar-collapse collapse" role="search" method="post" action="/CharacterSheets/Search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Sheets..." id="searchtext" name="searchtext">
                    </div>
                    <button type="submit" class="btn btn-default js-btn-search">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    &copy; @DateTime.Now.Year - The Procurator @@ Darktier Studios
                </div>
                <div class="col-xs-6 col-md-6 text-right">
                    @Html.ActionLink("Contact Us", "Contact", "Home")                    
                </div>
            </div>  
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tpn")
    @Html.Partial("NotyNotifications")

    @RenderSection("scripts", required: false)

    @AntiForgery.GetHtml()    
</body>
</html>
