@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("My Sheets", "Index", "CharacterSheets")</li>
        <li>@Html.ActionLink("My Characters", "Index", "Characters")</li>
        <li>@Html.ActionLink("My Lists", "Index", "CharacterLists")</li>
        <li><a href="https://www.patreon.com/darktierstudios" data-patreon-widget-type="become-patron-button"><img class="img-responsive" style="max-height: 25px;" src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" alt="Support us on Patreon!"></a></li>
   </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a href="https://www.patreon.com/darktierstudios" data-patreon-widget-type="become-patron-button"><img class="img-responsive" style="max-height: 25px;" src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png" alt="Support us on Patreon!"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
