@model theprocurator.Data.Model.Character

@{
    ViewBag.Title = "Edit Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Character</h2>

<div class="form-horizontal">
    <form id="meta-data">
        <div class="form-group">
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.CharacterId)
            @Html.HiddenFor(model => model.CharacterSheetId)
            @Html.HiddenFor(model => model.CharacterSheet.CharacterSheetForm)
            @Html.HiddenFor(model => model.CharacterData)
            @Html.HiddenFor(model => model.CharacterName)            
        </div>
    </form>
    
    @using (Html.BeginForm("Character", "Create", FormMethod.Post, new { @class = "character-form" }))
    {
        @Html.AntiForgeryToken()
    }
</div>

<div class="action-buttons">
    <button type="button" class="btn btn-primary js-btn-save">Save</button>
    <a href="@Url.Action("Index", "Characters")" class="btn btn-default">Cancel</a>
    <button type="button" class="btn btn-info print-pdf">Print</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/formeo")
    @Scripts.Render("~/Scripts/tpn.character.js")

    <script type="text/javascript">
        (function ($) {
            tpn_common.config.routeaction = "@ViewContext.RouteData.Values["action"]";
            tpn_char.initFormeo('.character-form');
        })(jQuery);
    </script>
}