@model IEnumerable<theprocurator.Data.Model.Character>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Characters</h2>

<p>    
    <a href="@Url.Action("Create", "Character", new { id = Guid.Empty })" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Create a Character</a>
</p>
<table class="table">
    <tr>     
        <th></th>   
        <th>
            Character Name            
        </th>
        <th>
            Published
        </th>
        <th>
            Character Sheet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <a href="@Url.Action("Edit", "Characters", new { id = item.CharacterId })">
                @{
                    string image = Regex.Match(item.CharacterData, @"([\w-_ $#@!_]+)(.jpg|.png)", RegexOptions.Singleline).Value;
                }
                @if (!String.IsNullOrEmpty(image))
                {
                    <img class="img-responsive img-thumbnail" alt="@item.CharacterName" src="~/Content/Character/@item.CharacterId/@image" />
                }
                else
                {
                    <img class="img-responsive img-thumbnail" alt="default image" src="~/Content/Images/Character-Default.png" />
                }
            </a>
        </td>
        <td>
            <p>@Html.DisplayFor(modelItem => item.CharacterName)</p>
            <p class="small">edited: @item.UpdatedOn</p>
        </td>  
        <th>
            @Html.DisplayFor(modelItem => item.Published)
        </th>    
        <td>
            @Html.DisplayFor(modelItem => item.CharacterSheet.CharacterSheetName)
        </td>
        <td>
            <div class="btn-group-sm btn-group-vertical">
                <a href="@Url.Action("Edit", "Characters", new { id = item.CharacterId })" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                <a href="@Url.Action("Print", "Characters", new { id = item.CharacterId, slug = item.CharacterUrl })" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print</a>
                <a href="@Url.Action("Copy", "Characters", new { id = item.CharacterId })" class="btn btn-default"><span class="glyphicon glyphicon-copy"></span> Copy</a>
                <a href="@Url.Action("Delete", "Characters", new { id = item.CharacterId })" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
            </div>
        </td>
    </tr>
}
</table>
@section Scripts {    
    @Scripts.Render("~/Scripts/tpn.character.js")    
}
