@model IEnumerable<theprocurator.Data.Model.Character>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Characters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Characters</h2>

<p>
    @Html.ActionLink("Create a Character", "Create")
</p>
<table class="table">
    <tr>     
        <th style="max-width: 60px;"></th>   
        <th>
            Character Name            
        </th>
        <th>
            Published
        </th>
        <th>
            Character Sheet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td style="max-width: 60px;">
            <a href="@Url.Action("Edit", "Characters", new { id = item.CharacterId })">
                @{
                    string image = Regex.Match(item.CharacterData, @"([a-zA-z0-9]{8})-([a-zA-z0-9]{4})-([a-zA-z0-9]{4})-([a-zA-z0-9]{4})-([a-zA-z0-9]{12})_.+.(jpg|png)", RegexOptions.Singleline).Value;
                }
                @if (!String.IsNullOrEmpty(image))
                {
                    <img class="img-responsive" src="~/Content/Character/Images/@image" />
                }
                else
                {
                    <img class="img-responsive" src="~/Content/Images/Character-Default.png" />
                }
            </a>
        </td>
        <td>
            <p>@Html.DisplayFor(modelItem => item.CharacterName)</p>
            <p class="small">edited: @item.UpdatedOn</p>
        </td>  
        <th>
            @Html.DisplayFor(modelItem => item.Published)
        </th>    
        <td>
            @Html.DisplayFor(modelItem => item.CharacterSheet.CharacterSheetName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Characters", new { id = item.CharacterId })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="@Url.Action("Print", "Characters", new { id = item.CharacterId })" target="_blank" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-print"></span> Print</a>
            <a href="@Url.Action("Copy", "Characters", new { id = item.CharacterId })" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-copy"></span> Copy</a>
            <a href="@Url.Action("Delete", "Characters", new { id = item.CharacterId })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</a>
        </td>
    </tr>
}

</table>
