@model IEnumerable<theprocurator.Data.Model.Character>
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Character Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="h2 row">
    <div class="col-xs-12 col-md-3">Search Results</div>
    <div class="col-xs-12 col-md-9">
        <small>
            <em>
                published characters @if (!string.IsNullOrEmpty(ViewBag.SearchText))
            {<span> matching</span> <strong>'@ViewBag.SearchText'</strong> }
            </em>
        </small>
    </div>
</div>

<p>
    <a href="@Url.Action("Create", "Character", new { id = Guid.Empty })" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Create a Character</a>
</p>
<table class="table">
    <tr>     
        <th></th>   
        <th>
            Character Name            
        </th>
        <th>
            Owner
        </th>
        <th>
            Sheet
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <a href="@Url.Action("Print", "Characters", new { id = item.CharacterId, slug = item.CharacterUrl })">
                @{
                    string image = Regex.Match(item.CharacterData, @"([\w-_ $#@!_]+)(.jpg|.png)", RegexOptions.Singleline).Value;
                }
                @if (!String.IsNullOrEmpty(image))
                {
                    <img class="img-responsive img-thumbnail" src="~/Content/Character/@item.CharacterId/@image" />
                }
                else
                {
                    <img class="img-responsive img-thumbnail" src="~/Content/Images/Character-Default.png" />
                }
            </a>
        </td>
        <td>
            <p>@Html.DisplayFor(modelItem => item.CharacterName)</p>
            <p class="small">edited: @item.UpdatedOn</p>
        </td>  
        <th>
            @Html.DisplayFor(modelItem => item.User.UserName.Split('@')[0])
        </th>    
        <td>
            @Html.DisplayFor(modelItem => item.CharacterSheet.CharacterSheetName)
        </td>
        <td>
            <div class="btn-group-sm btn-group-vertical btn-group-justified">
                <a href="@Url.Action("Print", "Characters", new { id = item.CharacterId, slug = item.CharacterUrl })" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-print"></span> Print</a>
            </div>
        </td>
    </tr>
}
</table>
@section Scripts {    
    @Scripts.Render("~/Scripts/tpn.character.js")    
}
